<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zig's Home</title>
</head>
<body>

<h1>My Zig's home - Nơi tụ tập của những kẻ lập dị muốn thay đổi cả thế giới </h1>

<p></p>

{% for course in courses %}
    <img src="{{ course.image }}" alt="">
    <h3>Title:  {{ course.title }}</h3>
    <p>Price: {{ course.price }}</p>
    <p>Content: {{ course.content }}</p>
{% endfor %}

<a href="https://www.facebook.com/">Facebook</a>

<a href="{{ url_for("about") }}">About</a>

<a href="{{ url_for("add", a = 4, b =5) }}">bốn công năm bằng </a>





</body>
</html>